In [1]:
from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import phonenumbers as pn
from phonenumbers import geocoder
import pycountry  
from phonenumbers.phonenumberutil import region_code_for_number
from pymongo.collection import Collection
from datetime import datetime
import plotly.express as px
import plotly.graph_objects as go
from datetime import datetime


import dash
from dash import dcc
from dash import html
from dash.dependencies import Input, Output

In [2]:
uri = "mongodb+srv://diego_pontello:qEzcrA1o0rpaw6uM@transcribeme.rletx0y.mongodb.net/?retryWrites=true&w=majority"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
# Selecciona la base de datos y la colección
db = client['TranscribeMe']
collection = db.calls

# Define el pipeline de agregación
pipeline = [
    {
        '$match': {
            'localdate': {
                '$gte': '2023-07-18',
                '$lt': '2023-09-17'
            }
        }
    },
    
    {
        "$group": {
            "_id": "$localdate",
            "user_ids": {"$addToSet": "$user_id"}
        }
    }
]

# Aplica el pipeline de agregación y obtén el resultado
result = list(collection.aggregate(pipeline))

In [4]:
df_dau_all = pd.DataFrame(result)

In [6]:
df_dau_all=df_dau_all.rename(columns={'_id' :'date'})

In [9]:
df_dau_all = df_dau_all.explode('user_ids')
df_dau_all['FormatedPhone']='+' + df_dau_all['user_ids'].astype(str)

In [15]:
df_dau_all['Country'] = df_dau_all['FormatedPhone'].apply(getCountry)

In [16]:
df_dau_all

          date       user_ids   FormatedPhone        Country
0   2023-09-13    59892016927    +59892016927        Uruguay
0   2023-09-13    12022003004    +12022003004  United States
0   2023-09-13   212713330362   +212713330362        Morocco
0   2023-09-13    34630463896    +34630463896          Spain
0   2023-09-13   212767715062   +212767715062        Morocco
..         ...            ...             ...            ...
60  2023-07-23  5492615183384  +5492615183384      Argentina
60  2023-07-23  5493516280526  +5493516280526      Argentina
60  2023-07-23    34661260789    +34661260789          Spain
60  2023-07-23   573213523786   +573213523786       Colombia
60  2023-07-23   972535476707   +972535476707         Israel

[1893923 rows x 4 columns]

In [ ]:
# Renombra las columnas según tus requerimientos
df_dau_all.columns = ['Date', 'User_ID', 'Country','FormatedNumber']

# Calcula el número de usuarios activos por día y por país
active_users_by_day = df_dau_all.groupby(['Date', 'Country']).size().reset_index(name='ActiveUsers')

# Filtra los 10 países con mayor cantidad de usuarios
top_10_countries = active_users_by_day.groupby('Country')['ActiveUsers'].sum().nlargest(10).index.tolist()
active_users_by_day_top_10 = active_users_by_day[active_users_by_day['Country'].isin(top_10_countries)]

# Inicializa la aplicación Dash
app = dash.Dash(__name__)
server = app.server
# Define las opciones del filtro (países)
country_options = [{'label': country, 'value': country} for country in top_10_countries]

# Diseña la interfaz de usuario con el filtro y el gráfico
app.layout = html.Div([
    dcc.Dropdown(
        id='country-dropdown',
        options=country_options,
        value=top_10_countries[0],  # Establece el valor predeterminado
        multi=False
    ),
    dcc.Graph(id='user-activity-graph')
])

# Define una función para actualizar el gráfico según la selección del filtro
@app.callback(
    Output('user-activity-graph', 'figure'),
    Input('country-dropdown', 'value')
)
def update_graph(selected_country):
    filtered_data = active_users_by_day_top_10[active_users_by_day_top_10['Country'] == selected_country]
    fig = px.bar(filtered_data, x='Date', y='ActiveUsers', color='Country',
                 title=f'Usuarios activos por día en {selected_country}',
                 labels={'ActiveUsers': 'Usuarios Activos'})
    fig.update_layout(barmode='relative')
    return fig

# Ejecuta la aplicación Dash
if __name__ == '__main__':
    app.run_server(debug=True)

In [12]:
def getCountry(phone):
    try:
        phone_parsed = pn.parse(phone)
        country_code = pn.region_code_for_number(phone_parsed)
        country = pycountry.countries.get(alpha_2=country_code)
        return country.name
    except Exception as e:
        return "Error: " + str(e)